*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: inline-grid;
    grid-template: 2fr 5fr / 1fr 5fr;
}

.side-bar{
    background-color: rgb(111, 111, 255);
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.side-bar > .header{
    display: flex;
    gap: 5px;
    font-weight: 700;
    font-size: 1.1rem;
}

.side-bar > .header > span{
    font-size: 2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu > div{
    display: flex;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.menu > div:hover{
    background-color: white;
    color: rgb(111, 111, 255);
    transition: .3s ease;
}

.footer > div{
    display: flex;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.footer > div:hover{
    background-color: white;
    color: rgb(111, 111, 255);
    transition: .3s ease;
}

.header{
    
}

.main{
    background-color: rgb(240, 235, 235);
    grid-row-start: 2;
    grid-row-end: 4;
}